.langWrapper {
    display: flex;
    gap: 17px;
    align-items: center;
}

.langLogo {
    width: 20px;
    height: 20px;
    background: url(src/assets/lang.svg) center/cover no-repeat;
}

.lang {
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    transition: color .1s;
    &:first-of-type {
        color: #FFA542;
    }
    &:hover {
        color: #FFA542;
    }
}