.links {
    display: flex;
    gap: 25px;
    align-items: center;
}

.favorite {
    width: 22px;
    height: 20px;
    transition: fill .2s;
}

.shoppingCart {
    width: 23px;
    height: 23px;
    transition: fill .2s;
}

.favorite:hover,
.shoppingCart:hover {
    fill: #FFA542;
}

.linkWrapper {
    position: relative;
}

.countInfo {
    position: absolute;
    top: -5px;
    right: -9px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #FFA542;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
}