.cartItem {
    width: 633px;
    background-color: #fff;
    border-radius: 30px;
}

.paddingWrapper {
    padding: 18px 25px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 17px;
    justify-content: center;
}

.image {
    width: 146px;
    height: 136px;
    object-fit: contain;
}

.buyButtons {
    margin: 0;
    display: flex;
    gap: 23px;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: #fff;
    width: 35px;
    height: 30px;
    border-radius: 50%;
    background: rgba(255, 206, 127, 1);
    border: none;
    cursor: pointer;
    transition: background-color .2s;
    &:hover {
        background-color: #FFA542;
    }
}

.btnImg {
    width: 16px;
    height: 14px;
}

.count {
    margin: 0;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
}

.title_price {
    margin-left: 17px;
    text-align: left;
}

.title {
    margin: 0;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
}

.price {
    margin: 12px 0 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: rgba(170, 170, 170, 1);
}

.remove_sumPrice {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 144px;
}

.remove {
    margin-top: auto;
    padding: 0;
    width: 19px;
    height: 17px;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: opacity .3s;
    &:hover {
        opacity: .8;
    }
}

.sumPrice {
    padding: 0;
    margin: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}